<!-- Make your form here -->

<h2>Create a Pirate:</h2>
<form action="/pirates" method='POST'>
    <label for="name">Name:</label>
    <input type="text" name="pirate_name">
    <label for="height">Height:</label>
    <input type="text" name="pirate_height">
    <label for="weight">Weight (in pounds):</label>
    <input type="text" name="pirate_weight">

    <h2>Create First Ship:</h2>

    <label for="name">Name:</label>
    <input type="text" name='ship_one_name'>
    <label for="name">Type:</label>
    <input type="text" name='ship_one_type'>
    <label for="name">Booty:</label>
    <input type="text" name='ship_one_booty'>

    <h2>Create Second Ship:</h2>

    <label for="name">Name:</label>
    <input type="text" name='ship_two_name'>
    <label for="name">Type:</label>
    <input type="text" name='ship_two_type'>
    <label for="name">Booty:</label>
    <input type="text" name='ship_two_booty'>

    <br>
    <br>

    <input type="submit" value="Create Pirate and His/Her Ships">     
</form>

